body {
	background-color: white;
	margin: 5px;
	font-family: helvetica, arial, sans-serif;
}

div#content {
	background-color: #ffc; width : 75%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ccc;
	width: 75%;
}

h1{
	color:#960;
}