body {
	background-color: white;
	margin: 5px;
	font-family: helvetica, arial, sans-serif;
}

p{
	margin:0 0 .75em 0;
}

h1,h2,h3,h4,h5{
	margin:0 0 .5em 0;
}

.blue{
	color:#669
}

#content {
	background-color: #ffc; width : 75%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ccc;
	width: 75%;
}

